<div class="top-bar">
	<div class="row">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">
					Business Contacts
				</li>
			</ul>
		</div>

	</div>
</div>

<br>
<div *ngIf="appState == 'extend' ">
	<div class="row">
		<div class="large12 columns">
			<button class="button alert" (click)="changeState('default')">Go Back</button>
		</div>
	</div>
	<div *ngFor="let business of businesses">
		<div *ngIf="business.$key == activeKey ">
			<div class="large-5 columns large-offset-1">
				<h3>{{business.company}}</h3>
				<p>
					Category: {{business.category}}
				</p>
				<p>
					Years In Business : {{business.years_in_business}}
				</p>
				<p>
					{{business.description}}
				</p>
			</div>

			<div class="large-5 columns large-offset-1">
				<h3>Contact Information</h3>
				<ul>
					<li>Phone:{{business.phone}}</li>
					<li>Email:{{business.email}}</li>
					<li>Street:{{business.street}}</li>
					<li>City:{{business.city}}</li>
					<li>State:{{business.state}}</li>
					<li>Zipcode:{{business.zipcode}}</li>
				</ul>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="large12 columns">
		<table>
			<thead>
				<tr>
					<th>Company</th>
					<th>Category</th>
					<th>Phone</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let business of businesses">
					<td>{{business.company}}</td>
					<td>{{business.category}}</td>
					<td>{{business.phone}}</td>
					<td>
						<button class="button" (click)="changeState('extend', business.$key)">More</button>
						<button class="button secondary">Edit</button>
						<button class="button alert">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>